.nav-flex {
    display: flex;
    background-color: rgba(52, 73, 102);
    height: 5em;
}

.nav-flex img {
    display: flex;
    height: 100%;
}

.nav-flex h3 {
    color: rgb(178, 247, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.banner-words {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;
    color:rgba(52, 73, 102);
}

.banner-words h3 {
    font-style: italic;
}

.banner-img {
    width: 600px;

}

.banner-img img {
    object-fit: fill;
}

.options-flex {
    display: flex;
    background-color: rgba(52, 73, 102);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: (3em, 0, 0);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 20px;
}

.options-flex h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1.5em;
    color:rgb(178, 247, 235);
    padding-left: 20px;
}

.option-card {
    width: 400px;
    margin: 1em;
    height: 375px;
    background-color: white;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 90%;
    object-fit: contain;

}

.option-card img {
    width: 100%;
    max-height: 15em;
    margin-top: 1em;
    object-fit: contain;
    margin-left: 15px;
    
}

.card-words h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(52, 73, 102);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.option-card button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    border-radius: 5px;
    background-color: rgb(169, 63, 85);
    color: white;
}



.finalize-trip-container {
    margin-top: 3em;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.itinerary-card {
    justify-content: center;
    align-items: center;
}

.bottom-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 12em;
    border-radius: 5px;
    background-color: rgb(169, 63, 85);
    color: white;
    font-size: 1em;
    margin: 1em
}








