.nav-flex {
    display: flex;
    background-color: rgba(52, 73, 102);
    height: 5em;
}

.nav-flex img {
    display: flex;
    height: 100%;
}

.nav-flex h3 {
    color: rgb(178, 247, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.banner-words {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;

}

.banner-img {
    width: 600px;

}

.banner-img img {
    object-fit: fill;
}

.options-flex {
    display: flex;
    background-color: rgba(52, 73, 102);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3em;

}

.option-card {
    width: 400px;
    margin: 1em;
    height: 375px;
    background-color: white;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 90%;
    object-fit: contain;

}

.option-card img {
    width: 100%;
    max-height: 15em;
    margin-top: 1em;
    object-fit: contain;
    margin-left: 15px;
}

.option-card button {
    margin: 1em;
    border-radius: 5px;
    background-color: rgb(169, 63, 85);
    color: rgb(178, 247, 235);
    align-self: center;
}
